<md-dialog flex-gt-md="40" aria-label="delete sample" class="md-whiteframe-8dp cog-dialog-layout">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Add Description</h2>
            <span flex></span>
            <md-button class="cog-transparent-btn" ng-click="closeDialog()">
                <md-icon>cancel</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content layout="row" flex-gt-xs="66">
        <ng-form name="{{firstLetterLower frontend.FormName}}Add" novalidate>
            {{#each frontend.Field}}
            {{#ifEq isSearch "1"}}
            <md-input-container class="md-block">
                <label>{{Label}}</label>
                <input type="text" ng-model="newRecord.{{FieldName}}" name="{{Label}}" id="field_add_{{FieldName}}"
                    aria-label="{{Label}}" />
            </md-input-container>
            {{/ifEq}}
            {{/each}}
            <div layout="column" class="layout-column ">
                <md-button cogvalidate="" ng-click="addRecord(newRecord)"
                    class="md-raised md-primary md-block md-DarkBlue-theme ">Add
                </md-button>
                <md-button ng-click="cancel() " class="md-primary md-warn md-block md-DarkBlue-theme ">Close
                </md-button>
            </div>
        </ng-form>
    </md-dialog-content>
</md-dialog>