<md-dialog flex-gt-md="40" aria-label="delete sample" class="md-whiteframe-8dp cog-dialog-layout">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Edit {{FormDescription}}</h2>
            <span flex></span>
            <md-button class="cog-transparent-btn" ng-click="closeDialog()">
                <md-icon>cancel</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content layout="row" flex-gt-xs="66">
        <ng-form name="{{firstLetterLower frontend.FormName}}Edit" novalidate>
            {{#each frontend.Field}}
            {{#ifEq isReadOnly "0"}}
            <md-input-container class="md-block">
                <label>{{Label}}</label>
                <input type="text" ng-model="selectedRecord.{{FieldName}}" name="{{Label}}" id="field_{{FieldName}}"
                    aria-label="{{Label}}" />
            </md-input-container>
            {{/ifEq}}
            {{#ifEq isReadOnly "1"}}
            <md-input-container class="md-block">
                <label>{{Label}}</label>
                <input ng-readonly="true" type="text" ng-model="selectedRecord.{{FieldName}}" name="{{Label}}" id="field_{{FieldName}}"
                    aria-label="{{Label}}" />
            </md-input-container>
            {{/ifEq}}
            {{/each}}
            <div layout="column " class="layout-column ">
                <md-button ng-click="save(selectedRecord) " class="md-raised md-primary md-block md-DarkBlue-theme ">Save</md-button>
                <md-button ng-click="cancel() " class="md-primary md-warn md-block md-DarkBlue-theme ">Close and Back
                    to select record</md-button>
            </div>
        </ng-form>
    </md-dialog-content>
</md-dialog>