<div flex layout="row" layout-align="center none">
    <div id="sampleform" flex flex-md="80" flex-lg="65" flex-xl="55" style="max-height:none;">
        <a href="#">Home</a> > {{FormDescription}}
        <div layout-padding layout-margin flex-xs="100">
            <div flex class="ng-scope layout-align-center-stretch layout-row flex">
                <mat-form-field class="example-full-width">
                    <i class="material-icons" ng-if="{{firstLetterLower frontend.FormName}}Ctrl.data!=''">
                        search
                    </i>
                    <input ng-if="{{firstLetterLower frontend.FormName}}Ctrl.data!=''" matInput placeholder="Enter search String" ng-model="{{firstLetterLower frontend.FormName}}Ctrl.searchString"
                        ng-change="changedSearch()">
                    <a ng-click="openRightSide()"><i class="material-icons">
                            line_weight
                        </i></a>
                </mat-form-field>
            </div>
            <br />
            <v-accordion id="accordionA" class="vAccordion--default" ng-hide="{{firstLetterLower frontend.FormName}}Ctrl.data===''" control="accordionA"
                onexpand="expandCallback(index, id)" oncollapse="collapseCallback(index, id)">
                <v-pane id="pane1" expanded>
                    <v-pane-header id="samplePane-header" aria-controls="samplePane-content">
                        \{{displayMessage}}
                    </v-pane-header>
                    <v-pane-content id="samplePane-content" aria-labelledby="samplePane-header">
                        <cog-{{frontend.FileName}}-grid tablekeyword="{{firstLetterLower frontend.FormName}}Ctrl.searchString" value="{{firstLetterLower frontend.FormName}}Ctrl.data"
                            keyword="{{firstLetterLower frontend.FormName}}Ctrl.keyword" ></cog-{{frontend.FileName}}-grid>
                    </v-pane-content>
                </v-pane>
            </v-accordion>
        </div>
    </div>
    <cog-{{frontend.FileName}}-find value="{{firstLetterLower frontend.FormName}}Ctrl.data" keyword="{{firstLetterLower frontend.FormName}}Ctrl.keyword"></cog-{{frontend.FileName}}-find>
</div>